.cog-animation
  svg
    transition: transform .6s ease
    transform: rotate(0deg)
  &:hover
    svg
      transform: rotate(275deg)

fade-scale-animation()
  .fade-page-leave-active, .fade-page-enter-active
    transition transform 0.3s ease-out, opacity 0.3s ease-out
    transform-origin: 50% 50%

  .fade-page-enter-to, .fade-page-leave
    transform: scale(1)
    opacity 1

  .fade-page-enter
    transform scale(1.1)
    opacity 0.3

  .fade-page-leave-to
    transform scale(1.1)
    opacity 0