html
  font-family 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  overflow-x hidden

body
  .main-layout__content
    transform translateX(0)
    transition transform 0.4s ease

  &.menu-opened
    .main-layout__content
      transition-duration 0.8s
      transform translateX(($menuWidth / 2))

svg
  width 1em
  height 1em
