html
  overflow-x hidden
  max-width 100%

body
  max-width 100%
  background darken(white, 15%)
  overflow: hidden //let the main layout content bother with scroll
  .main-layout__content
    transform translateX(0)
    transition transform 0.4s ease

  &.menu-opened
    .main-layout__content
      transition-duration 0.8s
      transform translateX(($menuWidth / 2))

  a
    color: $brand
    &:visited
      color: lighten($brand, 45%)
    &:hover
      color: lighten($brand, 15%)

svg
  width 1em
  height 1em
