// COLORS
// ========
//
$someColor = green


// SIZES
// ========
//
$fontSizeBase = 15px
$fontSizeSmall = 12px
$fontSizeBig = 18px

$paddingBase = 1rem
$paddingSmall = 0.5rem
$paddingBig = 1.5rem

// LAYOUT
// ==========
//
$menuWidth = 350px
$menuToggleSize = $paddingBig
$menuTogglePosition = $paddingBase
$layoutTopPadding = 'calc(%s + %s * 2)' % ($menuToggleSize $menuTogglePosition)
$layoutleftPadding = 'calc(%s + %s * 2)' % ($menuToggleSize $menuTogglePosition)