// COLORS
// ========
//
$someColor = green


// SIZES
// ========
//
$fontSizeBase = 15px
$fontSizeSmall = 12px
$fontSizeBig = 18px

$paddingBase = 1rem
$paddingSmall = 0.5rem
$paddingBig = 1.5rem

// LAYOUT
// ==========
//
$menuWidth = 350px
$menuToggleSize = $paddingBig
$menuLogoSize = $paddingBig * 2
$menuTogglePosition = $paddingSmall
$menuTogglePaddingVertical = $paddingSmall
$menuTogglePaddingHorizontal = $paddingBase

$layoutTopPadding = 'calc(%s + %s * 2 + %s * 2)' % ($menuLogoSize $menuTogglePosition $menuTogglePaddingVertical)
$layoutleftPadding = 'calc(%s + %s * 2 + $s * 2)' % ($menuLogoSize $menuTogglePosition $menuTogglePaddingHorizontal)