// COLORS
// ========
//
$someColor = green


//light 
$light = #e8ede8
//red
$contrast = #e95721
//beige
$beige = #d2e1d3
//grey
$grey = #c7d3dd
//blue
$brand = #499fbe
//dark
$dark = #40484e


/*
//light
$light= #e8eef2
//red
$contrast = #e95721
//beige
$beige = #d6c9c9
//grey
$grey = #c7d3dd
//blue
$brand = #77b6ea
//dark
$dark = #373934
*/


// SIZES
// ========
//
$fontSizeBase = 15px
$fontSizeSmall = 12px
$fontSizeBig = 18px

$paddingBase = 1rem
$paddingSmall = 0.5rem
$paddingBig = 1.5rem

// LAYOUT
// ==========
//
$menuWidth = 250px
$menuToggleSize = $paddingBig
$menuLogoSize = $paddingBig * 2
$menuTogglePosition = $paddingBig
$menuTogglePaddingVertical = $paddingSmall
$menuTogglePaddingHorizontal = $paddingBase

$layoutTopPadding = 'calc(%s + %s * 2 + %s * 2)' % ($menuLogoSize $menuTogglePosition $menuTogglePaddingVertical)
$layoutleftPadding = 'calc(%s + %s * 2 + $s * 2)' % ($menuLogoSize $menuTogglePosition $menuTogglePaddingHorizontal)